<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Login</h1>
            
            <form action="/login" method="post" id="auth-form">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" 
                required minlength="6" maxlength="30">
                
                <label for="password">Password</label>
                <input type="password" id="password" name="password" 
                required minlength="8" maxlength="100">

                <a href="/register">Don't have an account?</a>
                
            </form>
            
            <input type="submit" value="Log in" form="auth-form">
        </div>
    </div>

    <script src="form.js"></script>
</body>
</html>