:root {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    font-size: 24px;
}

body {
    background-color: rgb(20, 20, 20);
}

h1 {
    color: #337DFF;
}

.container {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
}

.card {
    height: 650px;
    width: 450px;
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.card h1 {
    text-align: center;
}

.card input {
    display: flex;
    font-size: 1rem;
    height: 35px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    justify-content: center;
}

.card input {
    margin-bottom: 40px;
}




