:root {
    --font-color:#E2DFDB;
    --secondary-font-color: #337DFF;
    font-size: 22px;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    color: var(--font-color);
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(15, 16, 17); 
    margin: 0;
}

h1 {
    color: var(--secondary-font-color);
    margin: 15px 0;
}

a {
    font-size: 0.8rem;
    color: var(--secondary-font-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    height: 100vh;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 450px;
    background-color: #191B1C;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.card h1 {
    text-align: center;
}

input {
    color: var(--font-color);
    font-size: 1rem;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 35px;
    border-radius: 5px;
    border: 2px solid #776E62;
    background-color: #222526;
}

input:nth-last-child(2) {
    margin-bottom: 15px;
}

input[type="submit"] {
    margin-top: auto;
    margin-bottom: 0;
    height: 45px;
    padding: 0;
}

.card input[type="submit"]:hover {
    background-color: rgb(68, 68, 68);
}

.card input:focus-visible {
    outline: none;
    border: 3px solid var(--secondary-font-color);
}

*:focus-visible {
    outline: 2px solid var(--secondary-font-color);
}

/* .card input:not(input[type="submit"]):focus-visible {
    outline: 2px solid var(--secondary-font-color);
} */



.error {
    color: rgb(199, 57, 57);
}